<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="styles/common.css" />
    <title>Common Site</title>
    <script src="http://cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
    <script src="scripts/translator.js"></script>
</head>
<body>
    <!--<div class="section">
        <div class="sectionContainer">
            <div class="navigator">
                <ul>
                    <li>
                        <a href="#">首页</a>
                    </li>
                    <li class="leftBorder">
                        <a href="#">联系我们</a>
                    </li>
                    <li class="leftBorder">
                        <a href="#">公司新闻</a>
                    </li>
                    <li class="leftBorder">
                        <a href="#">产品展示</a>
                    </li>
                    <li class="leftBorder">
                        <a href="#">行业动态</a>
                    </li>
                    <li class="leftBorder">
                        <a href="#">关于我们</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>-->

    <div class="section">
        <div class="sectionContainer">
            <div class="navigator floatl">
                <ul>
                    <li>
                        <a href="#">首页</a>
                    </li>
                    <li class="leftBorder">
                        <a href="#">联系我们</a>
                    </li>
                    <li class="leftBorder">
                        <a href="#">公司新闻</a>
                    </li>
                    <li class="leftBorder">
                        <a href="#">产品展示</a>
                    </li>
                    <li class="leftBorder">
                        <a href="#">行业动态</a>
                    </li>
                    <li class="leftBorder">
                        <a href="#">关于我们</a>
                    </li>
                </ul>
            </div>
            <div class="navigatorSearch floatr">
                <input type="text" /><a href="#">登陆</a> <a href="#">注册</a>
            </div>
        </div>
    </div>

    <div class="section" id="example">

    </div>
</body>
</html>