body{
	margin: 0px;
}

.overflowv
{
	overflow: visible;
}

.overflowh
{
	overflow: hidden;
}

.left0
{
	left:0;
}

.left1000px
{
	left:1000px;
}

.right0
{
	right:0;
}

.right1000px
{
	right:1000px;
}